<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>UCSD GPA Calculator</title>
		<meta name="description" content="A little side project to help calculate GPA for UCSD students.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- endbuild -->

		<!-- Manual includes -->
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body ng-app="gpacalcApp">
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<md-content>
    		<md-toolbar>
      			<div class="md-toolbar-tools">
				<md-button>
        				<ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
				</md-button>
        			<h1>
          				<span>GPA Calculator</span>
        			</h1>
        			<span flex></span>
      			</div>
    		</md-toolbar>
		</md-content>

		<!-- Both columns need calculator controller info -->
		<div ng-controller="CalculatorCtrl" layout="row" layout-wrap layout-margin layout-fill layout-align="space-around">
			<div flex>
				<h2>Add Courses</h2>
				<form ng-submit="submitForm()" role="form" name="classForm" novalidate>
					<md-input-container flex>
						<label>Class Name</label>
						<input type="text" ng-model="class.name" placeholder="CSE, MATH, etc.." required/>
					</md-input-container>
					<md-input-container flex>
						<label>Class Code</label>
						<input type="text" ng-model="class.code" placeholder="100, 101, etc.." required/>
					</md-input-container>
					<md-input-container flex>
						<label>Class Units</label>
						<input type="number" min="1" step="1" ng-model="class.units" placeholder="2, 4, 5, etc..." required/>
					</md-input-container>
					<md-input-container flex>
						<md-select ng-model="class.letterGrade" placeholder="Choose Grade" required>
							<md-select-label>Choose Grade</md-select-label>
							<md-option ng-value="ele" ng-repeat="ele in letterGrades">{{ele.letter}}</md-option>
						</md-select>
					</md-input-container>
					<md-button ng-disabled="classForm.$invalid" class="md-raised md-primary" type="submit">Add</md-button>
					<md-button ng-click="clearForm()" class="md-raised md-warn">Clear</md-button>
				</form>
			</div>
			<div flex>
				<h2>Your Courses</h2>
				<table class="table table-striped table-bordered">
					<thead ng-show="classList.length > 0">
						<tr>
							<th>#</th>
							<th>Class</th>
							<th>Units</th>
							<th>Grade</th>
							<th>Total Units</th>
							<th>GPA</th>
							<th><a href ng-click="removeAllClasses()">Delete All</a></th>
						</tr>
					</thead>
					<tbody ng-repeat="class in classList">
						<tr>
							<td align="center">{{ $index + 1 }}</td>
							<td align="center">{{ class.name }} {{ class.code }}</td>
							<td align="center">{{ class.units }}</td>
							<td align="center">{{ class.letterGrade.letter }}</td>
							<td align="center">{{ unitsList[$index] }}</td>
							<td align="center">{{ gpaList[$index] }}</td>
							<td align="center"><a href ng-click="removeClass(class)">[X]</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Footer -->
			<div flex="100">
				<div layout-margin>
					&copy; Jon Ho 2015
					<a href="http://github.com/jonwho"><i class="fa fa-github-square fa-lg pull-right"></i></a>
					<a href="http://www.linkedin.com/in/jonwho/"><i class="fa fa-linkedin-square fa-lg pull-right"></i></a>
					<a href="http://twitter.com/lj080805"><i class="fa fa-twitter-square fa-lg pull-right"></i></a>
					<a href="mailto:housuilun@yahoo.com"><i class="fa fa-envelope fa-lg pull-right"></i></a>
				</div>
		</div><!--/flex-layout-->

		<!-- build:js(.) scripts/oldieshim.js -->
		<!--[if lt IE 9]>
		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/json3/lib/json3.min.js"></script>
		<![endif]-->
		<!-- endbuild -->

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/json3/lib/json3.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

				<!-- build:js({.tmp,app}) scripts/scripts.js -->
				<script src="scripts/app.js"></script>
				<script src="scripts/controllers/about.js"></script>
				<script src="scripts/controllers/calculator.js"></script>
				<!-- endbuild -->

		<!-- Manual inclues -->
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
</body>
</html>
